<h1 class='pageheader'>All Articles in My Blog</h1>

<h3 id='links'>
  <%= link_to 'Create New Article', new_article_path %>
  <p></p>
  <%= link_to 'Return to Welcome Page', welcome_index_path %>

</h3>
<p id='instructions'>
  Cick 'Show Article' to see the article with associated comments.
</p>

<table align="center">
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th colspan="2"></th>
  </tr>

  <% @articles.each do |article| %>
    <tr>
      <td><strong><%= article.title %></strong></td>
      <td><%= article.text%></td>
      <td id='show'><%= link_to 'Show Article', article_path(article) %></td>
      <td id='edit'><%= link_to 'Edit Article', edit_article_path(article) %></td>
      <td id='delete'><%= link_to 'Delete Article', article_path(article), 
                method: :delete, data: { confirm: 'Are you really sure you want to delete?'} %></td>
    </tr>
  <% end %>  
</table>

<h3 id='links'>
  <%= link_to 'New Article', new_article_path %>
  <p></p>
  <%= link_to 'Return to Welcome Page', welcome_index_path %>

</h3>
