<h1 class='pageheader'>Your Chosen Article!</h1>
<p id='highlighted_comment'>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
<p id='highlighted_comment'>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<h2>Comments for this article!</h2>
  <%= render @article.comments %>
  

<h3>Add A Comment:</h3>
<%= render 'comments/form' %>
<p id='links'>
<%= link_to 'Show All Articles', articles_path %>
<%= link_to 'Edit Article', edit_article_path(@article) %>
</p>